ul.container {
  width: 20em;
  padding: 0;
  margin: 50px auto 0;
  border: 10px solid #fff;
  box-shadow: 0px 2px 3px #eaeaea;
}

ul.container li {
  background: #f7f7f7;
  color: #ddd;
  list-style-type: none;
  padding: 1em;
  margin: 0;
  transition: background-color 0.5s;
}

ul.container li:nth-child(2) {
  color: #fff;
  background: #1998c4;
}
