

details {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / span 2;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

summary {
  grid-column: var(--n) / span 1;
  grid-row: 1;
  display: grid;
  padding: 1rem;
  border-bottom: 2px solid dodgerblue;
  cursor: pointer;
  z-index: 1;
}

details[open] :is(summary, .summary) {
  font-weight: bold;
}

details::details-content {
  grid-row: 2;
  grid-column: 1 / -1;
  padding: 1rem;
  border-bottom: 2px solid dodgerblue;
}

details:not([open])::details-content {
  display: none;
}

@media screen and (width < 40em) {
  .grid {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    column-gap: 0.5rem;
  }

  summary,
  details::details-content {
    padding: 0.5rem;
  }
}
