@import url('colors.css');
@import url('./amcplus/theme.css');
@import 'tailwindcss';

@layer normalize, base, utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gridCards: repeat(auto-fill, minmax(240px, 1fr));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .font-labelPrimaryXL {
    font-family: var(--font-rubik, system-ui);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}

.font-body2 {
  font-family: var(--font-montserrat, system-ui);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2rem;
}

.font-body0 {
  font-family: var(--font-montserrat, system-ui);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2rem;
}

.font-body00 {
  font-family: var(--font-montserrat, system-ui);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

@layer base {
  body {
    background: #000;
    min-height: 100vh;
  }

  body::before {
    --size: 45px;
    --line: #555555b3;
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background:
      linear-gradient(90deg, var(--line) 2px, transparent 1px var(--size)) 50%
        50% / var(--size) var(--size),
      linear-gradient(var(--line) 2px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
    mask: linear-gradient(-20deg, transparent 50%, white);
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
  }
}
