@import url('colors.css');
@import url('./amcplus/theme.css');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gridCards: repeat(auto-fill, minmax(240px, 1fr));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .font-labelPrimaryXL {
    font-family: var(--font-rubik, system-ui);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}

.font-body2 {
  font-family: var(--font-montserrat, system-ui);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2rem;
}

.font-body0 {
  font-family: var(--font-montserrat, system-ui);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2rem;
}

.font-body00 {
  font-family: var(--font-montserrat, system-ui);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
