*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel {
  --visible-slides: 1;
  --animation: 400;

  position: relative;
  overflow: hidden;
  font-size: 2.5vmin;
}

.carousel-slider {
  display: flex;
}

.carousel-slide {
  flex: 1 0 calc(100 / var(--visible-slides) * 1%);
}

.carousel-slide img {
  display: block;
  width: 100%;
  height: 15em;
  object-fit: cover;
  padding: 0.5rem;
}

.carousel button {
  font-size: inherit;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1em;
  border: none;
  cursor: pointer;
}

.carousel-prev {
  left: 2em;
}

.carousel-next {
  right: 2em;
}

.carousel-navigation {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.carousel-bullet.is-active {
  background: #1c69d3;
}
